<div class="container pt-5 claseTodo">
    <h1 class="tittleTodo">To do List</h1>
    <select [(ngModel)]="listadoServicio.itemSeleccionado" name="listadoServicio.itemSeleccionado" class="form-select" aria-label="Default select example">
        <option *ngFor="let item of ListaSelector" [value]="item.value">{{item.name}}</option>
    </select>
    <div class="input-group mb-3 pt-2">
        <input type="text"
        class="form-control"
        placeholder="Escribir.."
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        name="descripcionInput"
        [(ngModel)]="descripcionInput"
        required>
        <button class="btn btn-outline-secondary btnAdd" type="button" id="button-addon2">
            <i class="bi bi-plus-lg" style="color: #035f5f;"
            (click)="agregarValorLista()"></i>
        </button>
    </div>
</div>





